img {
	width: 50vw;
	height: 50vh;
} 

body { background-color: #000;
color: #ffffff; 
}

.images {float: left;
}

h1 {font size:45px;}
h2 {font size:30px;}


.text {
text-align: center;
padding-top: 175px; 
}